/*=================================================
||				1. Imports 
==================================================*/
@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

body
{
	font-family: 'Roboto', 'Open-Sans', sans-serif;
	overflow-x: hidden;
	color: #fff;
}
/*Owl Carousel*/
.owl-prev, .owl-next
{
	position: absolute;
	top: 43%;
	font-size: 22px;
	padding: 5px;
}
.owl-next
{
	right: -40px;
}
.owl-prev
{
	left: -40px;
}
.owl-prev:before
{
    content: "\f3d2";
    font-family: 'ionicons';
 	/*color: #fff;*/
}
.owl-next:before
{
    content: "\f3d3";
    font-family: "ionicons";
    /*color: #fff;*/
}
.section-title{
	color: #313131;
	text-align: center;
}
.section-subtitle{
	color: #583b54;
	text-align: center;
	margin-bottom: 50px;
}
.section-wrapper{
	padding-top: 70px;
	padding-bottom: 70px;
}
p{
	color: #969595;
}
.border-radius{
	border-radius: 0 !important;
	border-color: #60c9eb;
	height: 45px;
}
p:hover{
	cursor: default;
}
.navbar-toggle {
    background-color: rgb(96, 201, 235);
    border: 1px solid rgb(96, 201, 235);
    border-radius: 0;
    transition: all .4s ease-in-out;
}
.navbar-default .navbar-toggle {
    border-color: rgb(96, 201, 235);
}
.navbar-default .navbar-toggle .icon-bar{
	background: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background: #fff;
}
.navbar-toggle:hover .icon-bar, .navbar-toggle:focus .icon-bar {
    background-color: rgb(96, 201, 235);
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*=================================================
||				3. Header
==================================================*/
			/*navbar*/
.navbar-default .navbar-brand{
	border: 1px solid transparent;
	color: #60c9eb;
	font-size: 33px;
	padding: 10px 0px;
	height: auto;
	font-weight: 400;
	letter-spacing: -1px;
	text-transform: capitalize;
}
ul.nav.navbar-nav.navbar-right{
	margin-top: 10px;
}
.navbar-default .navbar-brand span{
	color: #583b54;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
	color: #60c9eb;
}
.navbar-default {
    background-color: #fff;
    border-color: transparent;
    padding: 5px 0px;
    border-radius: 0;
    text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a{
	color: #021f31;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: 450;
    letter-spacing: 1px;
    transition: all .4s ease-in-out;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #60c9eb;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: rgb(248, 241, 227);
	background: #3caff7;
}
.navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;
    color: #60c9eb;
    background: #e8f9ff;
}
		/*Home*/
.flexslider{
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	margin: 0;
	padding: 0;
	border: 0;
	overflow-x: hidden;
	background: transparent;
	background-image: url('../images/header.png');
	background-repeat: no-repeat;
	background-size: cover;

}
.slider-item{
	background-size: inherit;
	background-position: left bottom;
	background-repeat: no-repeat;
}
.inner-intro{
	display: table-cell;
	vertical-align: middle;
	position: relative;
}
.intro{
	display: table;
	text-align: center;
	width: 100%;
	height: 100vh;
}
.header-title{
	font-size: 34px;
	font-weight: 400;
}
.header-title span{
	font-weight: 700;
}
.header-sub-title{
	font-size: 14px;
	color: #fff;
	margin: 20px 40px 25px;
}
.custom-btn{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
}
.custom-btn:hover{
	background: #fff;
	color: #583b54;
}